@page "/employeeoverview"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>@Title</PageTitle>

<h1>Employee Overview</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>

    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-6 col-lg-4 col-xl-3 col-xxl-3">
                <ErrorBoundary>
                    <ChildContent>
                        <EmployeeCard Employee="employee" EmployeeQuickViewClicked="ShowQuickViewPopup"></EmployeeCard>
                    </ChildContent>
                    <ErrorContent>
                        <p class="errorUI">Invalid employee!</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>
}