@page "/"

<h1>Wired Brain Coffee</h1>

<AuthorizeView>
	<Authorized>
		Welcome back to the coffee browser app.
	</Authorized>
	<NotAuthorized>
		Welcome to the coffee browser app.

		Please Log In
	</NotAuthorized>
</AuthorizeView>

