@page "/"

<h1>Wired Brain Coffee</h1>

<AuthorizeView>
	<Authorized>
		Welcome back to the coffee browser app.
	</Authorized>
	<NotAuthorized>
		Welcome to the coffee browser app.

		Please Log In
	</NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
	<div style="background-color: darkgray; color:white; padding:10px;">
		This should only be visible for admins.
	</div>
</AuthorizeView>
